.mypassword
*.retry
.DS_Store
.vagrant/
*.myversion
content/roles/*
!content/roles/requirements.yml
content/vars/vars.yml
content/*_servers.out
content/client_instances.out
content/vault-password.txt
content/student_information.out
content/registered_users
content/gitlab_users.out
