{% for student_row in final_list %}
Student: {{ student_row.gitlab_user }}
  Ansible Tower Server: {{ student_row.tower_server }}
    Ansible Tower Admin user: admin
    Ansible Tower Admin password: RHforum18Pass
    Ansible Tower SSH user: student
    Ansible Tower SSH password: RHforum18Pass
  Managed Systems: {{ student_row.client1 }}, {{ student_row.client2 }}, {{ student_row.client3 }}
    Managed Systems SSH user: student
    Managed Systems SSH password: RHforum18Pass
  Gitlab Server: {{ gitlab_server }}
    Gitlab Username: {{ student_row.gitlab_user }}
    Gitlab password: RHforum18Pass
{% endfor %}

