upstream backend {
{% for host in wildfly_servers %}
    server {{ hostvars[host].inventory_hostname }}:8080;
{% endfor %}
}
server {
    listen       80;
    server_name  localhost;
    
    access_log  /var/log/nginx/host.access.log  main;
    
    location / {
        proxy_pass http://backend;
    }
    
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
